<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'probnik3/css/style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <span>Название</span>{{form.name}} <br>
        <span>МинВремя</span>{{form.minTime}} <br>
        <span>МинСумма</span>{{form.minAmount}} <br>
        <span>Код</span>{{form.code}} <br>
        <span>Процент</span>{{form.percent}} <br>
        <span>{{error}}</span>
        <button class="" type="submit">Добавить</button>
    </form>
    <a href=""><button>Обновить</button></a>
    <a href=""><button>Удалить</button></a>
    <a href="/"><button>Назад</button></a>
</body>
</html>